In [0]:
print("hello world")

hello world

# Advanced certification in AIML
## A program by datafolkz
### Introduction to Python

# Intro to Jupyter Notebook
-

- SHIFT+ENTER FOR EXECUTING THE CELL USING JUPYTER NOTEBOOK

SHORTCUT IN BOTH MODE
- SHIFT+ENTER RUN THE CURRENT CELL SELECT BELOW
-CTRL+ENTER RUN SELECTED CELL
-ALT+ENTER RUN THE CURRENT CELL, INSERT CELL
-CTRL+S SAVE AND CHECKPOINT

In [0]:
print("hello world")# printing the word hello world

hello world

In [0]:
a=15
a

15

- esc+ m for code to markdown
- esc +y for markdown to code

## JULIA, PYTHON AND R CAN BE DONE USING Jupyter

Python program is first compiled and then interpreted.

### Lexical structure

The lexical structure of a programming language is theset of basic rules that govertn how you write program in that language.

it is the lowest-level syntax of the language and specifies such things as what variables names liik loke and which characters denote comments.

Each python source file, like any

## Lines and Indentation
•	A Python program is composed of a sequence of logical lines, each made up of one or more physical lines. Each physical line may end with a comment. 
A hash sign (#) that is not inside a string literal begins a comment. 

•	All characters after the # and up to the physical line end are part of the comment, and the Python interpreter ignores them. 

•	A line containing only whitespace, possibly with a comment, is known as a blank line, and Python totally ignores it. 

•	In an interactive interpreter session, you must enter an empty physical line (without any whitespace or comment) to terminate a multiline statement.

•	However, Python automatically joins adjacent physical lines into one logical line if an open parenthesis ((), bracket ([), or brace ({) has not yet been closed, and taking advantage of this mechanism, generally produces more readable code instead of explicitly inserting backslashes at physical line ends.
                                                                                                                                          
•	Triple-quoted string literals can also span physical lines. Physical lines after the first one in a logical line are known as continuation lines.

In [0]:
print("Total number of keywords ", len(keyword.kwlist))

In [0]:
age= 35 
print(age)

35

## Scalar data types and Operations

Python has for scalar data types;
  - Integer
  - Float
  - boolean
  - complex

we will review these in this notebook

In [0]:
#Get all keywords in python 3.7

import keyword # import the library Keyword

print(keyword.kwlist) 


print("Total number of keywords ", len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
Total number of keywords  33

In [0]:
print(2+4)
print(12878+1)
print(7-3)
print(127-128)
print(8*6)
print(17*12)

6
12879
4
-1
48
204

There are two division operators:
    / for everyday (float) division and // for truncating (integer) division

In [0]:
print(17/4)
print(17//4)

4.25
4

the modular operator % and the exponentiation operator ** are also available

In [0]:
print(18 % 3)
print(72 % 5)
print(2 ** 5)

0
2
32

the usual operator precedence rule and the use of parentheses to override that are available

In [0]:
print(10**2*7-3)
print(100**(2*7)-3)
print(10**(2*7-3))

697
9999999999999999999999999997
100000000000

In [0]:
a=123456789
b= a ** 2
c= b ** 3
d= C ** 4
e= d ** 5
print(e)

NameError: ignored

##### Assignment operators
The standard assignment operators are available. That is,  $\alpha$  $\odot=\beta$ is a shorthand for $\alpha = \alpha \odot \beta$
where $\odot$ is any binary arithmetic operator we saw above

In [0]:
a = 12
b = 5
a += b
print(a,b)
a -= b
print(a,b)
a *= b
print(a,b)
a**=b
print(a,b)

17 5
12 5
60 5
777600000 5

The usual boolean operators are also available: ==, !=, >, >=, <, <=

In [0]:
a=12
b=13
print(a==b-1,a==b,a!=b,a<b,a>=b)

True False True True False

#### Float
Python has a float datatype (and it is the same as C's double!) and the above operations are available

In [0]:
a = 12,9
b =3,6
c = a+b
d = a-b
e = a * b
f = a / b
print(a,b,c,d,e,f, sep="\n")
print(a,b,c,d,e,f)

TypeError: ignored

(3-4j)
3.0
-4.0
5.0

In [0]:
x=5+12j
print(z+x,z-x,z*x,x/z,sep="\n")
z=3-4j
print(z,z.real,z.imag,abs(z),sep="\n")

NameError: ignored

## Variable name – Identifiers
Variable name is known as identifier. There are few rules that you have to follow while naming the variables in Python.
- The name of the variable must always start with either a letter or an underscore (_). For example:  _str, str, num, _num are all valid name for the variables.- The name of the variable cannot start with a number. For example: 9num is not a valid variable name.- The name of the variable cannot have special characters such as %, $, # etc, they can only have alphanumeric characters and underscore (A to Z, a to z, 0-9 or _ ).- Variable name is case sensitive in Python which means num and NUM are two different variables in python.

## Variables in Python
Variables are used to store data, they take memory space based on the type of value we assigning to them. Creating variables in Python is simple, you just have write the variable name on the left side of = and the value on the right side, as shown below. You do not have to explicitly mention the type of the variable, python infer the type based on the value we are assigning.

In [0]:
# python variable Example
age=35
Name= "ARAVIND"
print(age)
print(Name)

35
ARAVIND

In [0]:
# first positon of the variable can be uderscore
_age=35
print(age)

35

In [0]:
x,y,z=2,7,"car"
print(x,y,z,sep="\n")

2
7
car

# Data Types

A data type defines the type of data, for example 650 is an integer data while “Aravind” is a String type of data. 
The data types in Python are divided in two categories:
1. Immutable data types – Values cannot be changed.
2. Mutable data types – Values can be changed

Immutable data types in Python are:
1. Numbers
2. String
3. Tuple

Mutable data types in Python are:
1. List
2. Dictionaries
3. Sets

z=9
print(z)

In [0]:
num=120
print(num)
print("data type is unmutable" )

120
data type is unmutable

# 2. Python Data Type – String
String is a sequence of characters in Python. The data type of String in Python is called “str”.

Python strings can be enlosed in single quotes or double quotes or triple quotes! Let us look at each of them

## 1.Numeric Data Type in Python

#### Integer  
In Python 3, there is no upper bound on the integer number which means we can have the value as large as our system memory allows.

#### Float 
Values with decimal points are the float values, there is no need to specify the data type in Python. It is automatically inferred based on the value we are assigning to a variable. 
For example here float_num is a float data type.

#### Complex Number 
Numbers with real and imaginary parts are known as complex numbers. 
Unlike other programming language such as Java, Python is able to identify these complex numbers with the values. In the following example when we print the type of the variable complex_num, it prints as complex number.

In [0]:
S1="S1 is a string"
print(S1)

S1 is a string

In [0]:
grading="texts,quizess,Individual labs, group labs and hackathon"
print(grading)
type(grading)

texts,quizess,Individual labs, group labs and hackathon

str

In [0]:
tests="CFU's,analutical,reference and comprehension"
print(tests)

CFU's,analutical,reference and comprehension

In [0]:
faq='almostall ask the question"what is the best k"? '
print(faq)

almostall ask the question"what is the best k"?

Triple quoted strings are best used for documentation. But they are useful for storing long strings.
 * We can use single or double quotes
 * We can also use single quotes or dowuble quotes within
 * The line breaks etc are captured; that is there is no need for \n

story = """A long time ago, in a galaxy far far away ...

It is a period of civil war. Rebel spaceships, striking 
from a hidden base, have won their first victory against 
the evil Galactic Empire.

During the battle, Rebel spies managed to steal secret 
plans to the Empire's ultimate weapon, the DEATH STAR, 
an armored space station with enough power to destroy an entire planet.

Pursued by the Empire's sinister agents, Princess Leia 
races home aboard her starship, custodian of the stolen 
plans that can save her people and restore freedom to the galaxy...."""
print(story)

In [0]:
story = """A long time ago, in a galaxy far far away ...

It is a period of civil war. Rebel spaceships, striking 
from a hidden base, have won their first victory against 
the evil Galactic Empire.

During the battle, Rebel spies managed to steal secret 
plans to the Empire's ultimate weapon, the DEATH STAR, 
an armored space station with enough power to destroy an entire planet.

Pursued by the Empire's sinister agents, Princess Leia 
races home aboard her starship, custodian of the stolen 
plans that can save her people and restore freedom to the galaxy...."""
print(story)

A long time ago, in a galaxy far far away ...

It is a period of civil war. Rebel spaceships, striking
from a hidden base, have won their first victory against
the evil Galactic Empire.

During the battle, Rebel spies managed to steal secret
plans to the Empire's ultimate weapon, the DEATH STAR,
an armored space station with enough power to destroy an entire planet.

Pursued by the Empire's sinister agents, Princess Leia
races home aboard her starship, custodian of the stolen
plans that can save her people and restore freedom to the galaxy....

##### Simple string operations
 * Concatnate by +, 
 * multiple concatenation by * 
 * check for substring with **in**
 * determine the size (number of characters) using *len*

In [0]:
h="hello"
w="world"
hw=h+w
print(hw)
hsw=h+' '+w
print(hsw)
h4s3w2=4*h+" "*3+w*2
print(h4s3w2)
print(h in hsw)
print(' ' in hw)
print(len(h4s3w2))

helloworld
hello world
hellohellohellohello   worldworld
True
False
33

## 3. Python Data Type – Tuple

Tuple is immutable data type in Python which means it cannot be changed. It is an ordered collection of elements enclosed in round brackets and separated by commas.

- Collection of elements with different data types`
- Tuple is an ordered sequence of items same as list.`
- The only difference is that tuples are immutable. Tuples once created cannot be modified.`
- Tuples are just like lists, but you cannot modify their values. The initial values are the value

- The easiest way to create one is with a comma-separated sequence of values created by `( )` and `tuple( )`
- The easiest way to create one is with a comma-separated sequence of values.

In [0]:
tup=10,20,30,40,50,"datafolkz"
print(tup)
type(tup)

(10, 20, 30, 40, 50, 'datafolkz')

tuple

In [0]:
t1=(10,2,32,42,57)
print(t1)
t2=("hey","anjali","hello")
print(t2)
t3=(22,"sarah",456,"milly")
print(t3)
type(t3)

(10, 2, 32, 42, 57)
('hey', 'anjali', 'hello')
(22, 'sarah', 456, 'milly')

tuple

In [0]:
x-3
print(x)

2

In [0]:
name="Aravind"
len(name)

7

In [0]:
t1=(10,2,32,42,57)
t1[3]
t1[3]=47

TypeError: ignored

## 4.Python Data Type – List
List is similar to tuple, it is also an ordered collection of elements, however list is a mutable data type which means it can be changed unlike tuple which is an immutable data type.

A list is enclosed with square brackets and elements are separated by commas

A list is heterogenous; that is the data types of the things need not be the same.

## 5. Python Data Type – Dictionary
Dictionary is a collection of key and value pairs. A dictionary doesn’t allow duplicate keys but the values can be duplicate. It is an ordered, indexed and mutable collection of elements. 

- The keys in a dictionary doesn’t necessarily to be a single data type.

- In Python, dictionaries are defined within braces {} with each item being a pair in the form key:value. Key and   value can be of any type.`

- To declare a dictionary, you write dictionaryName = {dictionary key : data}`

In [0]:
my_dict = {'India':'New delhi','Srilanka':'Colombo','Bangladesh':'Dakha','Bhutan':'Thimpu'}
my_dict

{'Bangladesh': 'Dakha',
 'Bhutan': 'Thimpu',
 'India': 'New delhi',
 'Srilanka': 'Colombo'}

In [0]:
emp={'Name':['Raju','Raghav','ram'],'Age':[27,25,26],'designation':[ds,]}

In [0]:
f = [1, 1, 2, 3, 5, 8]
p = [2, 3, 5, 7]
grading = ["Tests", "Quizzes", "Individual Labs", "Group Labs", "Hackathons"]
grades = [300, 60, 120, 60, 120]
oddjob = [1, 5.6, True, 4-7j, "Hello", [1, 2], [3.9, "World"]]
print(f)
print(grading)

[1, 1, 2, 3, 5, 8]
['Tests', 'Quizzes', 'Individual Labs', 'Group Labs', 'Hackathons']

## Sets

- Collection of elements with different data types 
- Collection unique elements
- Indexing can not  be performed in set
- Sets follow order 
- sets can be built using `set() and {  }

In [0]:
myset1=set(['Data science','AI','Machine learning','Statistics'])
myset1

{'AI', 'Data science', 'Machine learning', 'Statistics'}

In [0]:
A = {1,1,1,2,2,5,10,5,80,55,55,60,True,False,0}
A

{False, 1, 2, 5, 10, 55, 60, 80}

In [0]:
type(A)

set

In [0]:
len(A)

8

In [0]:
A[0]

TypeError: ignored